* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
  background: white;
}


/* WHOLE PAGE */

.layout {
  display: grid;

  grid-template-columns: 32% 68%;

  min-height: 100vh;
}


/* LEFT SIDEBAR */

.sidebar {
  padding: 30px;
}

.sidebar h1 {
  font-size: 18px;
  margin-top: 0;
}

.intro {
  max-width: 350px;

  margin-top: 30px;
  margin-bottom: 40px;

  color: #888;
  line-height: 1.4;
}


/* WEEK NAVIGATION */

.weeks h3 {
  font-size: 16px;

  margin-top: 25px;
  margin-bottom: 8px;
}

.weeks a {
  display: block;

  margin-left: 15px;
  margin-bottom: 6px;

  color: #888;

  text-decoration: none;
}

.weeks a:hover {
  color: black;
}


/* RIGHT SIDE */

.featured {
  padding: 30px;
}

.featured > h2 {
  font-size: 16px;
  margin-top: 0;
}


/* BIG FEATURED IMAGE */

.featured-image {
  width: 100%;
  height: auto;

  margin-top: 20px;

  display: block;
}


/* INFORMATION UNDER IMAGE */

.project-info {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 40px;

  margin-top: 25px;
}

.project-info h2 {
  font-size: 16px;
  margin-top: 0;
}

.description {
  max-width: 450px;
}

.description h3 {
  font-size: 16px;

  margin-top: 0;
  margin-bottom: 10px;
}

.description p {
  color: #888;

  line-height: 1.5;
}


/* VIEW PROJECT */

.view-project {
  display: inline-block;

  margin-top: 15px;

  color: #222;

  text-decoration: none;
}

.view-project:hover {
  text-decoration: underline;
}